################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aead-aes/v16
/aead-aes/bin
/aead-aes/obj
/EncryptionUnitTest/bin
/EncryptionUnitTest/obj
/.vs/slnx.sqlite
